<table width="100%" class="table">
    <caption class="sr-only"></caption>
    <thead class="head">
        <tr>
            <th width="3%"></th>
            <th width="7%">Data</th>
            <th width="3%">Livello</th>
            <th>Denominazione</th>
            <th>Tipologia</th>
            <th>Località</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">10-11/01</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/1-MAN--INDOOR-OPEN-1%5E-e-2%5E-giornata/REG41764">1. e 2. manifestazione indoor</a><br><font style="font-style: italic;">CR Veneto</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Padova (PD)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:green;"></i></td>
            <td><b style="color:black;" title="Domenica">11/01</b></td>
            <td><abbr title="NAZIONALE">N</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/XLVIII^-Cross-della-Vallagarina/COD14644">Cross della Vallagarina</a><br><font style="font-style: italic;">US Quercia Rovereto</font></td>
            <td style="text-align: left;">CROSS</td>
            <td style="text-align: left;">Villa Lagarina (TN)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">17-18/01</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/2-MAN--INDOOR-OPEN-1%5E-e-2%5E-giornata/REG41766">3. e 4. manifestazione indoor</a><br><font style="font-style: italic;">CR Veneto</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Padova (PD)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:green;"></i></td>
            <td><b style="color:black;" title="Domenica">18/01</b></td>
            <td><abbr title="REGIONALE">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/Cross-del-Crus/REG41743">Cross del CRUS - Prova unica CdS regionale di cross</a><br><font style="font-style: italic;">Lagarina CRUS Team</font></td>
            <td style="text-align: left;">CROSS</td>
            <td style="text-align: left;">Villa Lagarina (TN)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">24-25/01</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/3-MAN--INDOOR-OPEN-1%5E-e-2%5E-giornata/REG41768">5. e 6. manifestazione indoor</a><br><font style="font-style: italic;">CR Veneto</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Padova (PD)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">31/01<br>01/02</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/7-e-8-MAN--INDOOR-OPEN/REG41771">7. e 8. manifestazione indoor</a><br><font style="font-style: italic;">CR Veneto</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Padova (PD)</td>
        </tr>

        <tr>
            <td><i class="fa fa-circle" style="color:green;"></i></td>
            <td><b style="color:black;" title="Domenica">01/02</b></td>
            <td><abbr title="REGIONALE">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/Cross-Valle-del-Chiese/REG41745">Cross della valle del Chiese</a><br><font style="font-style: italic;">SA Valchiese</font></td>
            <td style="text-align: left;">CROSS</td>
            <td style="text-align: left;">Storo (TN)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:red;"></i></td>
            <td><b style="color:black;" title="Sabato">07/02</b></td>
            <td><abbr title="REGIONALE">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/Prova-regionale-del-Campionato-Italiano-Invernale-di-Lanci-lunghi/REG41744">Campionati italiani invernali di lanci lunghi - Prova unica regionale</a><br><font style="font-style: italic;">Lagarina CRUS Team</font></td>
            <td style="text-align: left;">PISTA</td>
            <td style="text-align: left;">Trento (TN)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">07-08/02</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/9-e-10-MAN--INDOOR-OPEN/REG41772">9. e 10. manifestazione indoor</a><br><font style="font-style: italic;">CR Veneto</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Padova (PD)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">07-08/02</b></td>
            <td><abbr title="NAZIONALE">N</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/CAMPIONATI-ITALIANI-JUNIORES-e-PROMESSE-INDOOR/COD14439">CAMPIONATI ITALIANI INDOOR JUNIOR E PROMESSE</a><br><font style="font-style: italic;">CR Marche</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Ancona (AN)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:green;"></i></td>
            <td><b style="color:black;" title="Domenica">08/02</b></td>
            <td><abbr title="REGIONALE">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/NAZ-II%5E-Maia-Cross-Running/COD14837">Maia cross running - Campionato regionale individuale di cross</a><br><font style="font-style: italic;">Merano Atletica Running</font></td>
            <td style="text-align: left;">CROSS</td>
            <td style="text-align: left;">Merano (BZ)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:green;"></i></td>
            <td><b style="color:black;" title="Domenica">08/02</b></td>
            <td><abbr title="NAZIONALE">N</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/CAMPIONATI-ITALIANI-INDIVIDUALI-E-CdS-DI-CROSS-MASTER/COD14441">CAMPIONATI ITALIANI INDIVIDUALI E CdS DI CROSS MASTER</a><br><font style="font-style: italic;">CP Roma Sud</font></td>
            <td style="text-align: left;">CROSS</td>
            <td style="text-align: left;">Rocca di Papa (RM)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">14-15/02</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/11-e-12-MAN--INDOOR-OPEN/REG41774">11. e 12. manifestazione indoor</a><br><font style="font-style: italic;">CR Veneto</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Padova (PD)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">14-15/02</b></td>
            <td><abbr title="NAZIONALE">N</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/CAMPIONATI-ITALIANI-ALLIEVI-INDOOR/COD14442">CAMPIONATI ITALIANI INDOOR ALLIEVI/E</a><br><font style="font-style: italic;">CR Marche</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Ancona (AN)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">21-22/02</b></td>
            <td><abbr title="NAZIONALE">N</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/CAMPIONATI-ITALIANI-INDOOR-DI-PROVE-MULTIPLE-A-J-P/COD14440">CAMPIONATI ITALIANI INDOOR DI PROVE MULTIPLE A-J-P / 13. e 14. man. indoor</a><br><font style="font-style: italic;">CR Veneto</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Padova (PD)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:green;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">21-22/02</b></td>
            <td><abbr title="NAZIONALE">N</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/FESTA-DEL-CROSS-CAMPIONATI-ITALIANI-INDIVIDUALI-e-di-SOCIETA-ASS-PRO-JUN-ALL/COD14445">CAMPIONATI ITALIANI INDIV. E CdS DI CROSS / STAFFETTA</a><br><font style="font-style: italic;">Ekopolis APS ASD</font></td>
            <td style="text-align: left;">CROSS</td>
            <td style="text-align: left;">Selinunte (TP)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">28/02<br>01/03</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/15-e-16-MAN--INDOOR-OPEN/REG41778">15. e 16. manifestazione indoor</a><br><font style="font-style: italic;">CR Veneto</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Padova (PD)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Sabato - Domenica">28/02<br>01/03</b></td>
            <td><abbr title="NAZIONALE">N</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/CAMPIONATI-ITALIANI-ASSOLUTI-INDOOR/COD14443">CAMPIONATI ITALIANI ASSOLUTI INDOOR</a><br><font style="font-style: italic;">CR Marche</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Ancona (AN)</td>
        </tr>

        <tr>
            <td><i class="fa fa-circle" style="color:green;"></i></td>
            <td><b style="color:black;" title="Domenica">01/03</b></td>
            <td><abbr title="PROVINCIALE">P</abbr></td>
            <td style="text-align: left;">Campionati provinciali individuali giovanili di cross<br><font style="font-style: italic;">AS Berg</font></td>
            <td style="text-align: left;">CROSS</td>
            <td style="text-align: left;">Pianizza di Sopra (BZ)</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:blue;"></i></td>
            <td><b style="color:black;" title="Giovedì - Domenica">05-08/03</b></td>
            <td><abbr title="NAZIONALE">N</abbr></td>
            <td style="text-align: left;"><a href="https://www.fidal.it/calendario/CAMPIONATI-ITALIANI-INDOOR-MASTER/COD14444">CAMPIONATI ITALIANI INDOOR MASTER</a><br><font style="font-style: italic;">CR Marche</font></td>
            <td style="text-align: left;">INDOOR</td>
            <td style="text-align: left;">Ancona (AN)</td>
        </tr>
    </tbody>
</table>