<h5>Legenda</h5>
<table style="background:transparent;">
    <tbody>
        <tr>
            <td class="legendatd"><i class="fa fa-circle" style="color:green; margin-right:2px;"></i>Ultramaratona/Trail
            </td>
            <td class="legendatd"><i class="fa fa-circle" style="color:green; margin-right:2px;"></i>Montagna</td>
            <td class="legendatd"><i class="fa fa-circle" style="color:green; margin-right:2px;"></i>Cross</td>
        </tr>
        <tr>
            <td class="legendatd"><i class="fa fa-circle" style="color:gray; margin-right:2px;"></i>Marcia su strada
            </td>
            <td class="legendatd"><i class="fa fa-circle" style="color:gray; margin-right:2px;"></i>Ultramaratona</td>
            <td class="legendatd"><i class="fa fa-circle" style="color:gray; margin-right:2px;"></i>Strada</td>
        </tr>
        <tr>
            <td class="legendatd"><i class="fa fa-circle" style="color:red; margin-right:2px;"></i>Outdoor</td>
            <td class="legendatd"><i class="fa fa-circle" style="color:blue; margin-right:2px;"></i>Indoor</td>
            <td></td>
        </tr>
    </tbody>
</table>