<table width="100%" class="table">
    <caption class="sr-only"></caption>
    <thead class="head">
        <tr>
            <th width="3%"></th>
            <th width="7%">Data</th>
            <th width="3%">Livello</th>
            <th>Denominazione</th>
            <th>Tipologia</th>
            <th>Località</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><i class="fa fa-circle" style="color:green;"></i></td>
            <td><b style="color:black;" title="Sabato">29/11</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a
                    href="https://www.fidal.it/calendario/Nikolaus-Cross-S%C3%BCdtirol-Cross-di-San-Nicol%C3%B3-Alto-Adige/REG39495">" Nikolaus-Cross Südtirol - Cross di San Nicoló Alto Adige"</a><br>
                <font style="font-style: italic;"></font>
            </td>
            <td style="text-align: left;">CROSS</td>
            <td style="text-align: left;">Bolzano/Bozen BZ</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:gray;"></i></td>
            <td><b style="color:black;" title="Mercoledì">31/12</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a
                    href="https://www.fidal.it/calendario/San-Silvestro-BOclassic-Cup-giovanile-Raiffeisen-Silvesterlauf-BOclassic/REG39497">San Silvestro BOclassic "Cup giovanile Raiffeisen" - Silvesterlauf BOclassic "Raiffeisen Jugendcup "</a><br>
                <font style="font-style: italic;"></font>
            </td>
            <td style="text-align: left;">STRADA </td>
            <td style="text-align: left;">Bolzano/Bozen BZ</td>
        </tr>
    </tbody>
</table>