<table width="100%" class="table">
    <caption class="sr-only"></caption>
    <thead class="head">
        <tr>
            <th width="3%"></th>
            <th width="7%">Data</th>
            <th width="3%">Livello</th>
            <th>Denominazione</th>
            <th>Tipologia</th>
            <th>Località</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><i class="fa fa-circle" style="color:red;"></i></td>
            <td><b style="color:black;" title="Sabato">30/08</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a
                    href="https://www.fidal.it/calendario/-8-Meeting-Memorial-Franco-Criscuolo-/REG39260">" 8° Meeting
                    Memorial Franco Criscuolo"</a><br>
                <font style="font-style: italic;"></font>
            </td>
            <td style="text-align: left;">PISTA</td>
            <td style="text-align: left;">Bolzano/bozen BZ</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:red;"></i></td>
            <td><b style="color:black;" title="Domenica">31/08</b></td>
            <td><abbr title="PROVINCIALE">P</abbr></td>
            <td style="text-align: left;"><a
                    href="https://www.fidal.it/calendario/4-Grand-Prix-Sportler-R-C-+-gara-extra-100m-A-J-P-S/REG39261">4
                    Grand Prix Sportler R/C + gara extra 100m A/J/P/S</a><br>
                <font style="font-style: italic;"></font>
            </td>
            <td style="text-align: left;">PISTA</td>
            <td style="text-align: left;">Brunico/bruneck BZ</td>
        </tr>
        <tr>
            <td><i class="fa fa-circle" style="color:red;"></i></td>
            <td><b style="color:black;" title="Sabato">20/09</b></td>
            <td><abbr title="REGIONALE OPEN">R</abbr></td>
            <td style="text-align: left;"><a
                    href="https://www.fidal.it/calendario/Campionato-Regionale-Giovanile-Alto-Adige-Trentino-Regionalmeisterschaft/REG39484">Campionato Regionale Giovanile Alto Adige/Trentino- Regionalmeisterschaft U14/U16 Südtirol/Trentino</a><br>
                <font style="font-style: italic;">1°giornata - 1.Tag</font>
            </td>
            <td style="text-align: left;">PISTA</td>
            <td style="text-align: left;">Bolzano/bozen BZ</td>
        </tr>
    </tbody>
</table>