<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font Display</title>
    <!-- Link to Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Anton&family=Rockwell&family=Oswald&family=Archivo+Black&family=Montserrat&family=Rubik&family=Poppins&family=Lora&family=Alegreya+Sans+SC&family=Merriweather&family=Playfair+Display&display=swap" rel="stylesheet">
    <style>

    </style>
</head>
<body>
    //firma per email html css
    <hr>
    <div style="display: flex; flex-direction: row;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJboQYaHuxofki9HMDQjprMDuch17BB4RSAQ&s" alt="saf_bolzano_1953_logo" height="110px" width="110px">
        <div>
            <h1 style="font-weight: 500; margin: 0">Alex De Carli</h1>
            <p style="font-weight: 300; margin: 0; font-size: 20px;">Saf Bolzano 1953 - Technical Team</p>
            <p style="font-weight: 300; margin: 0; font-size: 20px;">Responsabile Tecnico</p>
            <small style="font-weight: 300; font-size: 12px;">&#169; SAF BOLZANO 1953</small>
        </div>
    </div>
    <hr>
</body>
</html>
