<Navbar class="navbar">
    <div class="navContainer gridRight">
        <!--<div class="backOfLogo">dd</div>!-->
        <div class="backOfLogo slideIn1">
            <img src="../images/official/logo_saf.png" class="logo slideIn2" />
        </div>
    </div>
    <div class="navContainer gridCenter">
        <div class="gridInnerTop slideIn2">
            <a href="/info" target="_blank" class="upperNavItem navItem">
                <p>Contattaci ora!</p>
            </a>
            <a href="https://www.instagram.com/saf_bolzano" target="_blank" class="upperNavItem navItem"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/NuvolaRossa1953" target="_blank" class="upperNavItem navItem"><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="/iscrizioni"><button class="upperNavItem">ISCRIVITI</button></a>
        </div>
        <div class="gridInnerCenter slideIn1">
            <a href="/" class="navItem">
                <p class="navText">HOME</p>
            </a>
            <a href="/news" class="navItem">
                <p class="navText">NEWS</p>
            </a>
            <a href="/iscrizioni" class="navItem">
                <p class="navText">ISCRIZIONI</p>
            </a>
            <a href="/atleti" class="navItem">
                <p class="navText">ATLETI</p>
            </a>
            <a href="/staff" class="navItem">
                <p class="navText">STAFF</p>
            </a>
            <a href="/risultati" class="navItem">
                <p class="navText">RISULTATI</p>
            </a>
            <a href="/galleria" class="navItem">
                <p class="navText">GALLERIA</p>
            </a>
            <a href="/calendario" class="navItem">
                <p class="navText">CALENDARIO</p>
            </a>
            <a href="/info" class="navItem dropdown-trigger">
                <p class="navText">INFO</p>
                <div class="dropdown">
                    <a href="">INFORMAZIONI</a>
                    <a href="">CHI SIAMO</a>
                    <a href="">STORIA</a>
                </div>
            </a>
            <div class="navItem excluded navText" onclick="onClickToggleNav()">
                <div class="bars-icon icon">
                    <div class="moving-bar up"></div>
                    <div class="icon-part-away"></div>
                    <div class="moving-bar down"></div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="navigationMobile"></div>
        </div>
    </div>
    <div class="navContainer gridLeft"></div>
</Navbar>